*, html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}
body {

}
header{
    /* border: 2px solid yellowgreen; */
}
ul {
    list-style: none;
}
li {
    text-decoration: none;
}
.navbox{
    display: flex;
}
.linkbox{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.links{}

